<!DOCTYPE html>
<html>
  <head>
    <title>Clothes Exchange App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Clothes Exchange App</h1>
        <p>
          <a href="{{ url_for('home')}}" class="button">Home</a> |
          {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('create') }}" class="button">Create Post</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
          <a href="{{ url_for('read')}}" class="button">All posts</a> |
          <a href="{{ url_for('create')}}" class="button">Create a post</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this Clothes Exchange app is
          <a href="https://github.com/dbdesign-students-spring2024/7-web-app-dianachen1013"
            >available on Github</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>