{% extends 'base.html' %} {% block container %}
<h2>Update</h2>
<p>Edit a record in the MongoDB database collection.</p>
{% if current_user.is_authenticated and doc['user_id'] == current_user.id %}
  <form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
    <p>
      Your name:
      <input type="text" id="fname" name="fname" value="{{doc.name}}" /><br />
    </p>
    <p>
      Description:
      <textarea id="fmessage" name="fmessage">{{doc.message}}</textarea>
    </p>
    <p>
      Brand: 
      <input type="text" id="fbrand" name="fbrand" value="{{doc.brand}}"/><br />
    </p>
    <p>
      Type of Clothes: 
      <input type="text" id="ftype" name="ftype" value="{{doc.type_of_clothes}}"/><br />
    </p>
    <p>
      Size: 
      <input type="text" id="fsize" name="fsize" value="{{doc.size}}"/><br />
    </p>
    <p>
      Condition: 
      <input type="text" id="fcondition" name="fcondition" value="{{doc.condition}}"/><br />
    </p>
    <p>
      Image_url: 
      <input type="text" id="fimage_url" name="fimage_url" value="{{doc.image_url}}"/><br />
    </p>
    <p>
      <a href="{{ url_for('read')}}">Cancel</a>
      <input type="submit" name="post-btn" value="Save" />
    </p>
  </form>
{% else %}
  <p>You do not have permission to edit this record. Please <a href="{{ url_for('login') }}">login</a> or return to the <a href="{{ url_for('read') }}">listing page</a>.</p>
{% endif %}
  {% endblock %}